*.class
build/
.gradle

*.jar
*.aar
*.war
!gradle-wrapper.jar

.gradle/
.settings/
.vscode/
bin/
build/
releases/

.project
.classpath

*.class

!lib/
!StuyFission/src/
!pictures/
!vendordeps/

.DS_Store

.idea/
FissionLib.iml

local.properties
